*{
    box-sizing: border-box;
    font-family: 'rubik';
}

.quiz_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.quizBox{
    display: flex;
    flex-direction: row!important;
    align-items: center;
    width: 80vw;
    height: 50vh;
    background-color: #F7F7F7;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nav_quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27355C;
    height: 50vh;
    width: 16%;
    border-radius: 16px 0 0 16px;
}

.nav_quiz img{
    padding: 8px;
    height: 80px;
}

.nav_quiz nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    height: 35vh;
}

.nav_quiz nav a{
    text-decoration: none;
    color: #FEFFFC;
    font-size: 20px;
}

.quiz_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 16px;
}

.quiz_container nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question_footer{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}