* {
  box-sizing: border-box;
  font-family: "Rubik";
}

.quiz_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.quizBox {
  display: flex;
  position: relative;
  align-items: center;
  width: 80vw;
  height: 50vh;
  background-color: #f7f7f7;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 1440px;
}

.nav_quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #27355c;
  height: 50vh;
  width: 16%;
  border-radius: 16px 0 0 16px;
}

.nav_quiz img {
  padding: 8px;
  height: 80px;
}

.nav_quiz nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
  height: 35vh;
}

.nav_quiz nav a {
  text-decoration: none;
  color: #fefffc !important;
  font-size: 20px;
}

.nav_quiz nav a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.quiz_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 0 16px;
}

.quiz_container nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question_footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.quiz_answer_card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

#endScreen {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#endScreen img {
  height: 100px;
}

.progress {
  width: 86.5%;
  position: absolute;
  top: 0;
  right: 0;
}

#startSceen {
  background-image: url(./img/brainbg.jpg);
}

.startText {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.startText h2 {
  font-family: "PT Sans" !important;
}

.readyText {
  font-family: "PT Sans" !important;
}

.startButton {
  position: absolute;
  right: 200px;
  bottom: 100px;
  width: 150px;
}

.winnText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreText {
  display: flex;
}

#scoreColor {
  color: #e78d46;
  font-weight: bold;
  padding-right: 8px;
}

#endScreen button {
  font-size: 24px;
}

.tropy_img {
  position: absolute;
  right: 0;
  height: 350px !important;
}

.stopClickFunction {
  pointer-events: none;
}

@media (max-width: 1800px) {
  .quizBox {
    height: 55vh;
  }

  .nav_quiz {
    height: 55vh;
  }
}

@media (max-width: 1000px) {
  .tropy_img{
    display: none;
  }
}

@media (max-width: 820px) {
  .quizBox {
    height: 60vh;
  }

  .nav_quiz {
    height: 60vh;
    width: 20%;
  }

  .progress {
    width: 83.5%;
  }

  .startButton {
    position: sticky;
    margin-top: 32px;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 650px) {
  .progress {
    width: 80%;
  }
}

@media (max-width: 465px) {
  .quizBox {
    flex-direction: column;
  }

  .nav_quiz {
    height: 80px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
  }

  .nav_quiz img{
    display: none;
  }

  .nav_quiz nav {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .progress {
    width: 100%;
  }
  .quiz_container {
    position: relative;
    padding-top: 24px;
  }

  h2 {
    font-size: 20px !important;
  }

  .question_footer {
    margin-top: 8px;
  }

  .startText {
    margin-top: 88px;
  }
}

@media (max-width: 380px) {
  .question_footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }

  .question_footer button {
    width: 100%;
  }

  .quizBox {
    height: 70vh;
  }

  .nav_quiz nav {
    gap: 16px;
  }
}
